{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "ignorePatterns": ["*.d.ts", "*.js", "*.jsx", "*.test.ts", "*.test.tsx"],
  "extends": ["airbnb-typescript", "airbnb/hooks", "plugin:react/recommended", "standard-with-typescript", "prettier"],
  "overrides": [],
  "parserOptions": {
    "project": ["./tsconfig.json"],
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react", "prettier"],
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "no-restricted-imports": [
      "error",
      {
        "paths": [
          {
            "name": "ethers",
            "importNames": ["providers"],
            "message": "Please use 'CachedJsonRpcProviders' from '@lib/ethers/cached-providers' instead."
          }
        ]
      }
    ],
    "react/prop-types": "off",
    "react/display-name": "off",
    "prettier/prettier": "error",
    "react/react-in-jsx-scope": "off",
    "react-hooks/exhaustive-deps": "warn",
    "@typescript-eslint/return-await": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/naming-convention": "warn",
    "@typescript-eslint/no-misused-promises": "off",
    "@typescript-eslint/no-floating-promises": "off",
    "@typescript-eslint/no-invalid-void-type": "off",
    "@typescript-eslint/no-non-null-assertion": "warn",
    "@typescript-eslint/promise-function-async": "off",
    "@typescript-eslint/consistent-type-assertions": "off",
    "@typescript-eslint/strict-boolean-expressions": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-unnecessary-type-assertion": "off",
    "@typescript-eslint/restrict-template-expressions": "off"
  }
}
